@import '~bootstrap/scss/bootstrap';
@import 'partials/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap');

body{
    background-color: $main-background;
    font-family: 'Poppins', sans-serif;
}

header{
    h1{
        text-align: center;
        padding: 30px 0;
        font-weight: bolder;
        color: $mark-text;
        -webkit-text-stroke: 1px $main-text;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        li{
            padding: 0 25px;
            a{
                text-decoration: none;
                font-weight: 600;
                color: $main-text;
                font-size: 1.5rem;
                padding: 6px 10px;
                transition: .4s all;
                border-radius: 5px;
                &:hover{
                    background-color: $mark-text;
                    color: $main-text;
                }
            }
        }
    }
}

a{
    text-decoration: none;
    .card{
        border: 1px solid $mark-text;
        transition: .4s all;
        p{
            color: $main-background;
        }
        h5{
            color: $mark-text;
            -webkit-text-stroke: 1px $main-background;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
}

h2{
    color: $mark-text;
    font-weight: bold;
}


.detail{
    .card{
        border: 1px solid $mark-text;
        transition: .4s all;
        p{
               color: $main-background;
               font-size: 1.5rem;
        }
        h5{
               color: $mark-text;
               font-size: 2.5rem;
               -webkit-text-stroke: 1px $main-background;
           }
   }
}

.error{
    margin-top: 40px;
    border-top: 2px solid $mark-text;
    border-bottom: 2px solid $mark-text;
    h3{
        color: $mark-text;
    }
    a{
        margin: 20px auto;
        width: 120px;
        background-color: $mark-text;
        text-align: center;
        padding: 10px;
        display: block;
        color: $main-text;
        font-weight: lighter;
        transition: .4s all;
        border-radius: 2px;
        &:hover{
            background-color: lighten($mark-text, 10%);
        }
    }
}

footer{
    border-top: .5px solid $mark-text;
    margin-top: 30px;
    h4{
        text-align: center;
        font-size: .8rem;
        color: $mark-text;
        padding: 20px 0;
    }
}
